# Prerequisites
*.d
*.vs
*.idb
*.pdb
*.tlog

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Homework1/Homework1/x64/Debug/Homework1.ilk
Homework1/Homework1/x64/Debug/Homework1.log
Homework1/Homework1/x64/Debug/Homework1.tlog/CL.command.1.tlog
Homework1/Homework1/x64/Debug/Homework1.tlog/CL.read.1.tlog
Homework1/Homework1/x64/Debug/Homework1.tlog/CL.write.1.tlog
Homework1/Homework1/x64/Debug/vc143.idb
Homework1/Homework1/x64/Debug/vc143.pdb
Homework1/x64/Debug/Homework1.pdb
